# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
/android/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS related files
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# JetBrains related
*.idea/
.idea/modules.xml
.idea/.name
.idea/workspace.xml
.idea/libraries
.idea/shelf
.idea/workspace.xml

# Android related
.android/
build/
gradle/
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/app/*.iml

# Package and lock files
.packages
pubspec.lock